@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0px) translateX(0px); }
    50% { transform: translateY(30px) translateX(15px); }
  }
  .animate-float {
    animation: float 8s ease-in-out infinite;
  }
}